ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  font-family: inherit;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* ========================================================================================================================================================
  Common
  ======================================================================================================================================================== */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
/* ========================================================================================================================================================
  Header
  ======================================================================================================================================================== */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}
.page-menu,
.contacts {
  display: none;
}
.logo {
  display: block;
  padding: 16px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.color-blue {
  color: #2e2f42;
}
.top-nav {
  margin-right: auto;
}
.btn-burger {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.icon-burger {
  fill: #2f2f37;
  display: block;
}

@media screen and (min-width: 768px) {
  .btn-burger {
    display: none;
  }
  .top-nav {
    display: flex;
    align-items: center;
  }
  .logo {
    margin-right: 120px;
    padding: 24px 0;
  }
  .page-menu {
    display: flex;
    gap: 40px;
  }
  .page-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .page-menu-link:hover,
  .page-menu-link:focus {
    color: #404bbf;
  }
  .current {
    position: relative;
    color: #404bbf;
  }
  .current::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    height: 4px;
    width: 100%;
  }
  .contacts {
    font-style: normal;
    display: block;
  }
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
  .address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
.mob-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 99999999;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow-y: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  border-radius: 100%;
  background-color: transparent;
  border: 1px solid #e7e9fc;
  fill: #2e2f42;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-menu {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-left: 16px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
}
.mobile-menu-nav {
  margin-bottom: auto;
}
.mobile-menu-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.text-color {
  color: #404bbf;
}
.mobile-contacts {
  margin-bottom: 48px;
}
.mobile-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mobile-contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}
.contacts-color {
  color: #4d5ae5;
}
.menu-icon-list {
  display: flex;
  gap: 40px;
  justify-content: center;
  max-width: 280px;
  height: 40px;
}
.menu-icon-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
}
.page-menu-icons {
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
  .modal-close-btn {
    display: none;
  }
  .menu-icon-item {
    display: none;
  }
}
/* ========================================================================================================================================================
Hero
======================================================================================================================================================== */
.hero {
  max-width: 320px;
  padding-top: 72px;
  padding-bottom: 72px;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile/dark-bg@1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile/dark-bg@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet/dark-bg@1x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet/dark-bg@2x.jpg);
  }
}
@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desktop/people-office.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desktop/people-office@2x.jpg);
  }
}
.hero-title {
  max-width: 216px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .hero-title {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48px;
  }
}
.order-service-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-service-btn:hover,
.order-service-btn:focus {
  background-color: #404bbf;
}

/* ========================================================================================================================================================
Features
======================================================================================================================================================== */
.features {
  padding: 96px 0;
}
.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.features-list-item {
  max-width: 288px;
}
@media screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
    justify-content: center;
  }

  .features-list-item {
    max-width: 736px;
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .features {
    padding: 120px 0;
  }
  .features-list {
    flex-wrap: nowrap;
  }
  .features-list-item {
    max-width: 1128px;
    width: calc((100% - 24px * 3) / 4);
  }
}

.features-page-icon-wrapper {
  display: none;
}
@media screen and (min-width: 1158px) {
  .features-page-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }
}
.features-list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features-list-title {
    text-align: left;
  }
}
@media screen and (min-width: 1158px) {
  .features-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}
.features-list-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 1158px) {
  .features-list-text {
    font-weight: 400;
  }
}

/* ========================================================================================================================================================
  Team
  ======================================================================================================================================================== */
.team-container {
  padding: 32px 0;
}
.team {
  background: #f4f4fd;
  padding: 96px 0;
}
.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 64px;
    justify-content: center;
  }
}
@media screen and (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }
  .team-list {
    flex-wrap: nowrap;
  }
  .team-list-item {
    width: calc((100% - 24px * 3) / 4);
  }
}
.team-list-item {
  background: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.team-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.media-icon-list {
  display: flex;
  gap: 24px;
  margin: 0 16px;
}
.media-icon-item {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
}
.page-team-icons {
  fill: #f4f4fd;
}
.media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media-link:hover,
.media-link:focus {
  background-color: #404bbf;
}

/* ========================================================================================================================================================
Portfolio
======================================================================================================================================================== */
.portfolio-container {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}
.portfolio {
  padding: 96px 0;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
    
  }
}
.portfolio-list-item {
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-overlay {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay-text {
  position: absolute;
  top: 0;

  width: 296px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover .portfolio-overlay-text {
  transform: translateY(0);
}
/* ========================================================================================================================================================
Footer
======================================================================================================================================================== */
.page-footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}
@media screen and (min-width: 1158px) {
  .page-footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.page-footer-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
}
.color-footer {
  color: #f4f4fd;
}
.page-footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  text-align: start;
}
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    align-items: baseline;
    padding-left: 108px;
  }
}
@media screen and (min-width: 1158px) {
  .footer-container {
    gap: 0;
    padding-left: 15px;
  }
}
.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-social-text {
    text-align: left;
  }
}
.footer-link-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link-icons:hover,
.footer-link-icons:focus {
  background-color: #31d0aa;
}
.footer-logo-text {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-logo-text {
    text-align: left;
  }
}
@media screen and (min-width: 1158px) {
  .footer-logo-text {
    margin-right: 120px;
  }
}
.footer-icons {
  fill: #f4f4fd;
}
@media screen and (min-width: 1158px) {
  .footer-subscribe {
    margin-left: 80px;
  }
}
.footer-subscribe-form {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer-subscribe-form {
    flex-direction: row;
  }
}
.subscribe-form-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding-left: 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.subscribe-form-input::placeholder {
  color: #ffffff;
}
.footer-subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-subscribe-title {
    text-align: left;
  }
}
.footer-subscribe-btn {
  display: flex;
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe-field-icon {
  fill: #ffffff;
  margin-left: 16px;
}
.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
  background-color: #404bbf;
}
